In [14]:
import matplotlib
from matplotlib import font_manager,rc
#한글 폰트 등록
font_location = "c:/Windows/fonts/malgun.ttf"
font_name = font_manager.FontProperties(fname=font_location).get_name()
matplotlib.rc('font', family=font_name)

import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

In [15]:
import pandas as pd

data = pd.read_csv("nightlife_crime.csv",encoding='cp949')
data

,region,pub,karaoke,tot_nightlife,murder,robbery,forcible_rape,thef,violence,murder_tot,robbery_Tot,forcible_rape_Tot,thef_tot,violence_Tot
0,강남,283,354,637,0,6,19,140,176,3,21,310,2484,2604
1,강동,146,106,252,0,3,6,193,158,4,6,156,2366,2712
2,강북,79,128,207,0,0,9,166,210,7,14,153,1434,2649
3,강서,113,167,280,0,3,9,273,240,7,13,262,2096,3207
4,관악,223,99,322,0,2,14,170,209,9,12,320,2706,3298
5,광진,19,91,110,0,0,29,155,153,4,14,240,3026,2625
6,구로,38,110,148,0,1,3,157,194,8,15,281,2335,3007
7,금천,60,82,142,0,0,7,146,66,3,6,151,1567,2054
8,노원,30,57,87,0,6,14,227,337,10,7,197,2193,2723
9,도봉,21,55,76,0,6,21,126,107,3,9,102,1063,1487
10,동대문,88,115,203,1,1,5,126,76,5,9,285,1865,1910
11,동작,55,55,110,1,3,6,107,65,5,13,173,1981,2548
12,마포,71,104,175,0,0,13,156,164,8,14,294,2555,2983
13,서대문,48,81,129,0,4,5,142,103,7,8,334,1982,1852
14,서초,88,120,208,0,1,7,39,66,2,2,70,819,1192
15,성동,22,52,74,0,0,11,105,73,4,9,126,1607,1612
16,성북,8,79,87,0,1,5,69,99,2,2,86,953,1194
17,송파,97,181,278,0,6,8,196,165,11,13,220,3239,3295
18,양천,7,81,88,0,0,8,169,144,3,6,120,1890,2509
19,영등포,200,293,493,0,0,6,119,118,14,22,295,2964,3572
20,용산,38,129,167,0,4,4,56,70,5,14,194,1557,2050
21,은평,79,153,232,0,0,8,99,121,1,7,96,1095,1461
22,종로,229,140,369,0,3,4,34,57,3,6,115,1070,1278
23,중구,260,105,365,0,2,3,82,71,5,8,201,2509,2370
24,중랑,27,105,132,1,0,9,179,193,13,11,187,2135,2847

In [16]:
data.describe()

,pub,karaoke,tot_nightlife,murder,robbery,forcible_rape,thef,violence,murder_tot,robbery_Tot,forcible_rape_Tot,thef_tot,violence_Tot
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00000,25.000000,25.00000,25.000000,25.000000,25.000000,25.000000
mean,93.160000,121.680000,214.840000,0.120000,2.080000,9.320000,137.24000,137.400000,5.84000,10.440000,198.720000,1979.640000,2361.560000
std,82.724281,70.028994,138.638823,0.331662,2.196968,6.189507,56.82083,68.837974,3.48425,5.008992,81.346235,678.841408,712.551348
min,7.000000,52.000000,74.000000,0.000000,0.000000,3.000000,34.00000,57.000000,1.00000,2.000000,70.000000,819.000000,1192.000000
25%,30.000000,81.000000,110.000000,0.000000,0.000000,5.000000,105.00000,73.000000,3.00000,7.000000,126.000000,1557.000000,1852.000000
50%,71.000000,105.000000,175.000000,0.000000,1.000000,8.000000,142.00000,121.000000,5.00000,9.000000,194.000000,1982.000000,2548.000000
75%,113.000000,129.000000,278.000000,0.000000,3.000000,11.000000,169.00000,176.000000,8.00000,14.000000,281.000000,2484.000000,2847.000000
max,283.000000,354.000000,637.000000,1.000000,6.000000,29.000000,273.00000,337.000000,14.00000,22.000000,334.000000,3239.000000,3572.000000

In [ ]:
# 지역별 범죄 발생 합계 계산
crime_df = data.groupby(['region'], as_index = False)['범죄 발생 건'].sum()

In [18]:
# 가설 수립 : 환경이 청소년 범죄발생에 영향을 미침

# 유흥업소에 포함되는 변수 : Pub, Karaoke
# 전체 비율 시각화